
<section class="bg-light vh-100 py-5">
  <div class="container-fluid   px-5">
    <div class="text-center mb-5">
      <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
      <h2 class="fw-bolder pt-5">Welcome back !</h2>
      <p class="lead mb-1 pt-1">Sign in as a candidate</p>
    </div>
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-6">
        <!-- * * * * * * * * * * * * * * *-->
        <!-- * * SB Forms Contact Form * *-->
        <!-- * * * * * * * * * * * * * * *-->
        <!-- This form is pre-integrated with SB Forms.-->
        <!-- To make this form functional, sign up at-->
        <!-- https://startbootstrap.com/solution/contact-forms-->
        <!-- to get an API token!-->
        <form id="loginForm" data-sb-form-api-token="API_TOKEN"  #signin="ngForm" (ngSubmit)="signinAttempt(signin.value)">


          <!-- Email address input-->
          <div class="form-floating mb-2 pt-2">
            <input class="form-control" ngModel id="email" name="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
            <label for="email">Email address</label>
            <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
            <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
          </div>

          <!-- password input-->

          <div class="form-floating mb-2 py-2">
            <input class="form-control" ngModel id="pwd" name="mdp" type="password" placeholder="(123) 456-7890" data-sb-validations="required" />
            <label for="pwd">Password</label>
            <div class="invalid-feedback" data-sb-feedback="phone:required">The password  is required.</div>

          </div>


          <!-- Submit success message-->
          <!---->
          <!-- This is what your users will see when the form-->
          <!-- has successfully submitted-->
          <div class="d-none " id="submitSuccessMessage">
            <div class="text-center mb-3 pt-2">
              <div class="fw-bolder">Form submission successful!</div>
              To activate this form, sign up at
              <br />
              <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
            </div>
          </div>
          <!-- Submit error message-->
          <!---->
          <!-- This is what your users will see when there is-->
          <!-- an error submitting the form-->
          <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
          <!-- Submit Button-->
          <div class="d-grid"><button class="btn btn-primary btn-lg " id="submitButton" type="submit" >Submit</button></div>
        </form>
      </div>
    </div>
  </div>
</section>
