<app-navbar-r></app-navbar-r>
<div class="container mt-5">
    <h2>Submission form </h2>

    <form >
      <!-- Champs pour le CV -->
      <div class="mb-3">
        <label for="cv">CV (PDF only) :</label>
        <input type="file" (change)="onFileSelected($event)" class="form-control" id="cv" accept=".pdf"  required>
      </div>





      <!-- Bouton de soumission du formulaire -->
      <button type="submit" class="btn btn-primary" (click)="postuler()">Apply</button>
    </form>
  </div>
