<app-navbar-r></app-navbar-r>
<div class=" panel-header-sm">
</div>
<p-table #dt [value]="candidatures"
         dataKey="index"
         editMode="row"
         responsiveLayout="scroll"
         [globalFilterFields]="['candidat.penom', 'candidat.nom']"
>
<ng-template pTemplate="caption">
  <div class="table-header bg-dark text-white p-3"> 
    <h5 class="mb-0">Candidates List</h5>
    <div class="input-group">
      <span class="input-group-text bg-white">
        <i class="pi pi-search"></i>
      </span>
      <input pInputText type="text" class="form-control" 
             (input)="applyFilterGlobal($event, 'contains')" 
             placeholder="Global search" />
    </div>
  </div>
</ng-template>
  <ng-template pTemplate="header">
    <tr>

      <th pSortableColumn="candidat.penom">
        First name <p-sortIcon field="candidat.penom"></p-sortIcon>
      </th>
      <th pSortableColumn="candidat.nom">
        Last Name <p-sortIcon field="candidat.nom"></p-sortIcon>
      </th>
      <th pSortableColumn="date">
        Date <p-sortIcon field="date"></p-sortIcon>
      </th>
      <th pSortableColumn="offre">
        Job offer <p-sortIcon field="offreEmploie.titre"></p-sortIcon>
      </th>
      <th pSortableColumn="etat">
        state <p-sortIcon field="etat"></p-sortIcon>
      </th>


      <th style="width:8rem"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body"
               let-candidature let-editing="editing"
               let-ri="rowIndex">
    <tr [pEditableRow]="candidature"  >


      <td (click)="editing ? null : navigateToDetails(candidature.candidat.id_candidat,candidature.id_candidature)">
        <p-cellEditor>
          <ng-template pTemplate="output" >

           {{candidature.candidat.prenom}}
          </ng-template>


        </p-cellEditor>
      </td>
      <td (click)="editing ? null : navigateToDetails(candidature.candidat.id_candidat,candidature.id_candidature)">
        <p-cellEditor>
          <ng-template pTemplate="output" >
            {{ candidature.candidat.nom }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td (click)="editing ? null : navigateToDetails(candidature.candidat.id_candidat,candidature.id_candidature)">
        <p-cellEditor>
          <ng-template pTemplate="output" >

            {{candidature.date}}
          </ng-template>


        </p-cellEditor>
      </td>
      <td (click)="editing ? null : navigateToDetails(candidature.candidat.id_candidat,candidature.id_candidature)">
        <p-cellEditor>
          <ng-template pTemplate="output" >

            {{candidature.offreEmploie.titre}}
          </ng-template>


        </p-cellEditor>
      </td>
      <td (click)="editing ? null : navigateToDetails(candidature.candidat.id_candidat,candidature.id_candidature)">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <select pInputText [(ngModel)]="candidature.statut">
              <option value="0">Pending</option>
              <option value="1">Approved</option>
              <option value="2">Refused</option>
              <!-- Add more options as needed -->
            </select>
          </ng-template>
          <ng-template pTemplate="output" >
            <ng-container [ngSwitch]="candidature.statut">
              <span *ngSwitchCase="0">Pending</span>
              <span *ngSwitchCase="1">Approved</span>
              <span *ngSwitchCase="2">Refused</span>
              <!-- Add more cases as needed -->
              <span *ngSwitchDefault>Unknown</span>
            </ng-container>
          </ng-template>


        </p-cellEditor>
      </td>




      <td style="text-align:center">
        <button *ngIf="!editing"
                pButton pRipple type="button"
                pInitEditableRow icon="pi pi-pencil"
                (click)="onRowEditInit(candidature, ri)"
                class="p-button-rounded p-button-text">
        </button>
        <button *ngIf="editing"
                pButton pRipple type="button"
                pSaveEditableRow icon="pi pi-check"
                (click)="onRowEditSave(candidature, ri)"
                class="p-button-rounded
                                 p-button-text
                                 p-button-success mr-2">
        </button>
        <button *ngIf="editing"
                pButton pRipple type="button"
                pCancelEditableRow icon="pi pi-times"
                (click)="onRowEditCancel(candidature, ri)"
                class="p-button-rounded
                       p-button-text
                       p-button-danger">
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>
